<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title> Online music</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">
    <link rel='stylesheet prefetch' href='https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css'>

  <link rel="stylesheet" href="css/style.css">

  
</head>

<body>

<div class="container example2">
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar2">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#"><img src="img/small-logo.png" alt="online music">
        </a>
      </div>
      <div id="navbar2" class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-right">
          <li class="active"><a href="#">Home</a></li>
          <li><a href="#">Browse here</a></li>
        
        </ul>
      </div>
      <!--/.nav-collapse -->
    </div>
    <!--/.container-fluid -->
  </nav>
</div>

<div class="gap"></div>
<div class="container">
<div class="row">
<div class="col-md-3">
<div class="filter1">
<ul>
<li>
   <label>
    <input type="checkbox" name="checkbox">
    <span class="label-text">Audio <span>(989)</span></span>
  </label>
 </li>
<li> 
  <label>
    <input  type="checkbox" name="checkbox">
    <span class="label-text">Noten  <span>(989)</span></span>
  </label>
 </li>
<li> 
  <label>
    <input type="checkbox" name="checkbox">
    <span class="label-text">Video  <span>(989)</span></span>
  </label>
</li>
</ul>
</div>


<h4 class="filter-head">INTERPRET</h4>
<div class="filter" id="style-1">

<ul>
<li>
   <label>
    <input id="checkbox" type="checkbox" name="checkbox">
    <span class="label-text">Alexander, Peter <span>(989)</span></span>
  </label>
 </li>
<li> 
  <label>
    <input id="checkbox" type="checkbox" name="checkbox">
    <span class="label-text">Allers, Franz, Orchester   <span>(989)</span></span>
  </label>
 </li>
<li> 
  <label>
    <input id="checkbox" type="checkbox" name="checkbox">
    <span class="label-text">Alsmann, Götz  <span>(989)</span></span>
  </label>
</li>

<li> 
  <label >
    <input id="checkbox" type="checkbox" name="checkbox">
    <span class="label-text">Alsmann, Götz  <span>(989)</span></span>
  </label>
</li>
<li> 
  <label>
    <input id="checkbox" type="checkbox" name="checkbox">
    <span class="label-text">Alsmann, Götz  <span>(989)</span></span>
  </label>
</li>

<li> 
  <label>
    <input id="checkbox" type="checkbox" name="checkbox">
    <span class="label-text">Alsmann, Götz  <span>(989)</span></span>
  </label>
</li>

<li> 
  <label>
    <input id="checkbox" type="checkbox" name="checkbox">
    <span class="label-text">Alsmann, Götz  <span>(989)</span></span>
  </label>
</li>

<li> 
  <label>
    <input id="checkbox" type="checkbox" name="checkbox">
    <span class="label-text">Alsmann, Götz  <span>(989)</span></span>
  </label>
</li>
</ul>
</div>



<h4 class="filter-head">ALBUM</h4>
<div class="filter" id="style-1">

<ul>
<li>
   <label>
    <input id="checkbox" type="checkbox" name="checkbox">
    <span class="label-text">Alexander, Peter <span>(989)</span></span>
  </label>
 </li>
<li> 
  <label>
    <input id="checkbox" type="checkbox" name="checkbox">
    <span class="label-text">Allers, Franz, Orchester   <span>(989)</span></span>
  </label>
 </li>
<li> 
  <label>
    <input id="checkbox" type="checkbox" name="checkbox">
    <span class="label-text">Alsmann, Götz  <span>(989)</span></span>
  </label>
</li>

<li> 
  <label >
    <input id="checkbox" type="checkbox" name="checkbox">
    <span class="label-text">Alsmann, Götz  <span>(989)</span></span>
  </label>
</li>
<li> 
  <label>
    <input id="checkbox" type="checkbox" name="checkbox">
    <span class="label-text">Alsmann, Götz  <span>(989)</span></span>
  </label>
</li>

<li> 
  <label>
    <input id="checkbox" type="checkbox" name="checkbox">
    <span class="label-text">Alsmann, Götz  <span>(989)</span></span>
  </label>
</li>

<li> 
  <label>
    <input id="checkbox" type="checkbox" name="checkbox">
    <span class="label-text">Alsmann, Götz  <span>(989)</span></span>
  </label>
</li>

<li> 
  <label>
    <input id="checkbox" type="checkbox" name="checkbox">
    <span class="label-text">Alsmann, Götz  <span>(989)</span></span>
  </label>
</li>
</ul>
</div>


<h4 class="filter-head">KATEGORIEN</h4>
<div class="filter" id="style-1">

<ul>
<li>
   <label>
    <input id="checkbox" type="checkbox" name="checkbox">
    <span class="label-text">Alexander, Peter <span>(989)</span></span>
  </label>
 </li>
<li> 
  <label>
    <input id="checkbox" type="checkbox" name="checkbox">
    <span class="label-text">Allers, Franz, Orchester   <span>(989)</span></span>
  </label>
 </li>
<li> 
  <label>
    <input id="checkbox" type="checkbox" name="checkbox">
    <span class="label-text">Alsmann, Götz  <span>(989)</span></span>
  </label>
</li>

<li> 
  <label >
    <input id="checkbox" type="checkbox" name="checkbox">
    <span class="label-text">Alsmann, Götz  <span>(989)</span></span>
  </label>
</li>
<li> 
  <label>
    <input id="checkbox" type="checkbox" name="checkbox">
    <span class="label-text">Alsmann, Götz  <span>(989)</span></span>
  </label>
</li>

<li> 
  <label>
    <input id="checkbox" type="checkbox" name="checkbox">
    <span class="label-text">Alsmann, Götz  <span>(989)</span></span>
  </label>
</li>

<li> 
  <label>
    <input id="checkbox" type="checkbox" name="checkbox">
    <span class="label-text">Alsmann, Götz  <span>(989)</span></span>
  </label>
</li>

<li> 
  <label>
    <input id="checkbox" type="checkbox" name="checkbox">
    <span class="label-text">Alsmann, Götz  <span>(989)</span></span>
  </label>
</li>
</ul>
</div>


<h4 class="filter-head">JAHR</h4>
<div class="filter1" id="style-1">
<p>
  <label for="amount">Year:</label>
  <input type="text" id="amount" readonly style="border:0; color:#f6931f; font-weight:bold;">
</p>
 
<div id="slider-range"></div>
<img src="img/mt.png" class="renge-img">
</div>
</div>




<div class="col-md-9">
<div class="reasult">
<div class="search">

<input type="text" class="form-control search" placeholder="Was suchen Sie?">

</div>
</div>
</br></br></br>
<div class="filter-result" id="style-1">
<div class="col-md-4">
<img src="http://goodmusic.online/wp-content/uploads/2017/06/veac-d-dl-4260392661425cv_300-150x150.jpg">
<h4>'ne Besuch em Zoo</h4>
<p>Horst Muys</p>
</div>

<div class="col-md-4">
<img src="http://goodmusic.online/wp-content/uploads/2017/06/veac-d-dl-4260392661425cv_300-150x150.jpg">
<h4>'ne Besuch em Zoo</h4>
<p>Horst Muys</p>
</div>

<div class="col-md-4">
<img src="http://goodmusic.online/wp-content/uploads/2017/06/veac-d-dl-4260392661425cv_300-150x150.jpg">
<h4>'ne Besuch em Zoo</h4>
<p>Horst Muys</p>
</div>

<div class="col-md-4">
<img src="http://goodmusic.online/wp-content/uploads/2017/06/veac-d-dl-4260392661425cv_300-150x150.jpg">
<h4>'ne Besuch em Zoo</h4>
<p>Horst Muys</p>
</div>

<div class="col-md-4">
<img src="http://goodmusic.online/wp-content/uploads/2017/06/veac-d-dl-4260392661425cv_300-150x150.jpg">
<h4>'ne Besuch em Zoo</h4>
<p>Horst Muys</p>
</div>

<div class="col-md-4">
<img src="http://goodmusic.online/wp-content/uploads/2017/06/veac-d-dl-4260392661425cv_300-150x150.jpg">
<h4>'ne Besuch em Zoo</h4>
<p>Horst Muys</p>
</div>

<div class="col-md-4">
<img src="http://goodmusic.online/wp-content/uploads/2017/06/veac-d-dl-4260392661425cv_300-150x150.jpg">
<h4>'ne Besuch em Zoo</h4>
<p>Horst Muys</p>
</div>


<div class="col-md-4">
<img src="http://goodmusic.online/wp-content/uploads/2017/06/veac-d-dl-4260392661425cv_300-150x150.jpg">
<h4>'ne Besuch em Zoo</h4>
<p>Horst Muys</p>
</div>
</div>
</div>
</div>
</div>
</br>




<footer>

<div class="bts-popup" role="alert">
    <div class="bts-popup-container">
      <img src="http://goodmusic.online/wp-content/uploads/2017/07/sonet-gb-lp-00602527338118cv_300-150x150.jpg" alt="" width="100" />
      	<h3>ALBUM DES TAGES</h3>
		<h6>SOMEBODY LOVES YOU</h6>
				
        <a href="#0" class="bts-popup-close img-replace">Close</a>
    </div>
</div>


<p>Copyright All Rights Reserved © 2017 VEAC - Visual Entertainment & Audio Corporation</p>
 
 
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.0/jquery-ui.min.js'></script>

  <script>
  $(document).ready(function() {
    $('#myCarousel').carousel({
	    interval: 10000
	})
});
  </script>
  
  <script>
jQuery( function() {
    jQuery( "#slider-range" ).slider({
      range: true,
      min: 1949,
      max: 2018,
      values: [ 1949, 2018 ],
      slide: function( event, ui ) {
        jQuery( "#amount" ).val( "." + ui.values[ 0 ] + " - ." + ui.values[ 1 ] );
      }
    });
    jQuery( "#amount" ).val( "." + jQuery( "#slider-range" ).slider( "values", 0 ) +
      " - ." + jQuery( "#slider-range" ).slider( "values", 1 ) );
  } );
  </script>
  
  <script>
  jQuery(document).ready(function($){
  
  window.onload = function (){
    $(".bts-popup").delay(1500).addClass('is-visible');
	}
  
	//open popup
	$('.bts-popup-trigger').on('click', function(event){
		event.preventDefault();
		$('.bts-popup').addClass('is-visible');
	});
	
	//close popup
	$('.bts-popup').on('click', function(event){
		if( $(event.target).is('.bts-popup-close') || $(event.target).is('.bts-popup') ) {
			event.preventDefault();
			$(this).removeClass('is-visible');
		}
	});
	//close popup when clicking the esc keyboard button
	$(document).keyup(function(event){
    	if(event.which=='27'){
    		$('.bts-popup').removeClass('is-visible');
	    }
    });
});
  </script>
  
</footer>
</body>

</html>
