<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html>
<head>
<title>Eduma a Education Category Flat Bootstrap Responsive Website Template| Home :: w3layouts</title>
<!-- for-mobile-apps -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta property="og:title" content="Vide" />
<meta name="keywords" content="Eduma Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- //for-mobile-apps -->
<link href="css/bootstrap.css" rel='stylesheet' type='text/css' />
<!-- Custom Theme files -->
<link href="css/nav.css" rel="stylesheet" type="text/css" media="all"/>
<link href="css/iconeffects.css" rel='stylesheet' type='text/css' />
<link href="css/style.css" rel='stylesheet' type='text/css' />
<!-- js -->
   <script src="js/jquery-1.11.1.min.js"></script>
<!-- //js -->
<!-- dropdown -->
<script src="js/jquery.easydropdown.js"></script>
<!-- //dropdown -->
<!--webfont-->
<link href='//fonts.googleapis.com/css?family=Nunito:400,300,700' rel='stylesheet' type='text/css'>
<link href='//fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic' rel='stylesheet' type='text/css'>
<!-- start-smoth-scrolling -->
<script type="text/javascript" src="js/move-top.js"></script>
<script type="text/javascript" src="js/easing.js"></script>
<script type="text/javascript">
	jQuery(document).ready(function($) {
		$(".scroll").click(function(event){		
			event.preventDefault();
			$('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
		});
	});
</script>
<!-- start-smoth-scrolling -->
<!-- accordian -->
<link rel="stylesheet" href="css/jquery-ui.css">
	<script src="js/jquery-ui.js"></script>
	  <script>
		  $(function() {
			$( "#accordion" ).accordion();
		  });
	  </script>
<!-- //accordian -->
<!-- tabs -->
<script src="js/easyResponsiveTabs.js" type="text/javascript"></script>
	<script type="text/javascript">
		$(document).ready(function () {
			$('#horizontalTab').easyResponsiveTabs({
			type: 'default', //Types: default, vertical, accordion           
			width: 'auto', //auto or any width like 600px
			fit: true   // 100% fit in a container
			});
		});				
	</script>
<!-- //tabs -->
<!--animate-->
<link href="css/animate.css" rel="stylesheet" type="text/css" media="all">
<script src="js/wow.min.js"></script>
	<script>
		 new WOW().init();
	</script>
<!--//end-animate-->

</head>
<body>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
ga('create', 'UA-30027142-1', 'w3layouts.com');
  ga('send', 'pageview');
</script>
<script async type='text/javascript' src='//cdn.fancybar.net/ac/fancybar.js?zoneid=1502&serve=C6ADVKE&placement=w3layouts' id='_fancybar_js'></script>



<div data-vide-bg="video/training">
    <div class="center-container">
		<div class="ban-shade">
			<div class="header-nav">
				<div class="logo wow fadeInUp animated" data-wow-delay=".5s">
					<h1>
						<a class="link link--kumya" href="index.html"><i></i><span data-letters="EDUMA">EDUMA</span></a>
					</h1>
				</div>
				<div class="top-nav wow fadeInUp animated" data-wow-delay=".5s">										 
						<label class="mobile_menu" for="mobile_menu">
						<span>Menu</span>
						</label>
						<input id="mobile_menu" type="checkbox">
					   <ul class="nav">
						 <li><a class="active" href="index.html">home</a></li>
						 <li><a href="about.html">about</a></li>
						 <li><a href="courses.html">courses</a>
							
						 </li>
						 <li><a href="shortcodes.html">Shortcodes</a></li>						 
						 <li><a href="gallery.html">GALLERY</a>
							
						 </li> 
						 <li><a href="contact.html">CONTACT</a></li>
						 <li><a href="#" data-toggle="modal" data-target="#myModal">Register</a></li>
					  </ul>
				 </div>
				<div class="clearfix"></div>
				
			</div>
            <div class="socials">
                <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-4dd797b06396480a"></script>
            </div>
			<div class="box_1-top">
				<div class="banner-info wow fadeInLeft animated" data-wow-delay=".5s">
					<h3>Decent Education, Successful career</h3>
					<h2>Pursue your goals with our expert faculty</h2>
					
					<a class="scroll" href="#faculty" class="hvr-shutter-in-vertical button">Meet our faculty</a>
				</div>
			</div>
		</div>
    </div>
</div>

    <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.11.1.min.js"><\/script>')</script>
    <script src="js/jquery.vide.min.js"></script>

<!--banner bottom-->
<!---728x90--->
<div style="text-align: center;"><script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<ins class="adsbygoogle"
     style="display:inline-block;width:728px;height:90px"
     data-ad-client="ca-pub-9153409599391170"
     data-ad-slot="6850850687"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script></div>
<div class="about">
	<div class="col-md-6 about-left wow fadeInRight animated" data-wow-delay=".5s">
		<h3>welcome to eduma</h3>
		<p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem 
		accusantium doloremque laudantium, totam rem aperiam, eaque ipsa 
		quae ab illo inventore veritatis et quasi architecto beatae vitae
		dicta sunt explicabo. Nemo enim ipsam voluptatem quia. </p>
	</div>
	<div class="col-md-6 about-right wow fadeInLeft animated" data-wow-delay=".5s">
		<div class="hi-icon-wrap hi-icon-effect-4 hi-icon-effect-4b">
			<div class="abt-icon">
				<a href="#" class="hi-icon icon1"></a>
				<h4>Hard work</h4>
			</div>
			<div class="abt-icon">
				<a href="#" class="hi-icon icon2"></a>
				<h4>Knowledge</h4>
			</div>
			<div class="abt-icon">
				<a href="#" class="hi-icon icon3"></a>
				<h4>Success</h4>
			</div>
			<div class="clearfix"></div>
		</div>
	</div>
	<div class="clearfix"></div>
</div>
<!--//banner bottom-->
<!---728x90--->
<div style="text-align: center;"><script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<ins class="adsbygoogle"
     style="display:inline-block;width:728px;height:90px"
     data-ad-client="ca-pub-9153409599391170"
     data-ad-slot="6850850687"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script></div>
<!--content-->
<div class="content">
	<div class="container">
		<h3>Special care on students</h3>
		<div class="col-md-6 content-left wow fadeInLeft animated" data-wow-delay=".5s">
			<h4>Dreams comes true in our academy.</h4>
			<p> Neque porro quisquam est, qui dolorem ipsum 
			quia dolor sit amet, consectetur, adipisci velit,
			sed quia non numquam eius modi tempora incidunt ut 
			labore et dolore magnam aliquam quaerat voluptatem. 
			Ut enim ad minima veniam, quis nostrum exercitationem.</p>
			<a href="about.html" class="hvr-shutter-in-vertical button">More about us</a>
		</div>
		<div class="col-md-6 content-right wow fadeInRight animated" data-wow-delay=".5s">
			<div class="con-left text-center">
				<span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
				<h5>Learning</h5>
				<p>Neque porro quisquam est, qui dolorem ipsum 
				quia dolor sit amet</p>
			</div>
			<div class="con-left text-center">
				<span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
				<h5>Competitions</h5>
				<p>Neque porro quisquam est, qui dolorem ipsum 
				quia dolor sit amet</p>
			</div>
			<div class="clearfix"></div>
		</div>
		<div class="clearfix"></div>
	</div>
</div>
<!--//content-->
<!---728x90--->
<div style="text-align: center;"><script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<ins class="adsbygoogle"
     style="display:inline-block;width:728px;height:90px"
     data-ad-client="ca-pub-9153409599391170"
     data-ad-slot="6850850687"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script></div>
<!--staff-->
<div class="rooms">
	<div class="container">
		<h3>Our facilities</h3>
		<div class="col-md-4 room-left wow fadeInRight animated" data-wow-delay=".5s">
			<div id="accordion">
				<h4>class rooms</h4>
				    <div class="faculty-list">
						<ul>
							<li><a href="#">Research</a></li>
							<li><a href="#">Design and Development</a></li>
							<li><a href="#">Porting and Optimization</a></li>
							<li><a href="#">System integration</a></li>
							<li><a href="#">Research</a></li>
						</ul>
				    </div>
				<h4>Hostels</h4>
				    <div class="faculty-list">
						<ul>
							
							<li><a href="#">Design and Development</a></li>
							<li><a href="#">Porting and Optimization</a></li>
							<li><a href="#">System integration</a></li>
							<li><a href="#">Research</a></li>
							<li><a href="#">Maintenance and Support</a></li>
						</ul>
				    </div>
				<h4>Best Food</h4>
				    <div class="faculty-list">
						<ul>
							<li><a href="#">Porting and Optimization</a></li>
							<li><a href="#">System integration</a></li>
							<li><a href="#">Maintenance and Support</a></li>
							<li><a href="#">Research</a></li>
							<li><a href="#">Design and Development</a></li>
						</ul>
				    </div>
				<h4>Guidance</h4>
				    <div class="faculty-list">
						<ul>
							<li><a href="#">Research</a></li>
							<li><a href="#">Design and Development</a></li>
							<li><a href="#">Porting and Optimization</a></li>
							<li><a href="#">System integration</a></li>
							<li><a href="#">Maintenance and Support</a></li>
						</ul>
				    </div>
				</div>
		</div>
		<div class="col-md-8 room-right wow fadeInLeft animated" data-wow-delay=".5s">
			<div class="sap_tabs">
							<div id="horizontalTab" style="display: block; width: 100%; margin: 0px;">
								  <ul class="resp-tabs-list">
									  <li class="resp-tab-item" aria-controls="tab_item-0" role="tab"><span>Guidance</span></li>
									  <li class="resp-tab-item" aria-controls="tab_item-1" role="tab"><span>Best faculty</span></li>
									  <li class="resp-tab-item" aria-controls="tab_item-2" role="tab"><span>Seminars</span></li>
									  <li class="resp-tab-item" aria-controls="tab_item-3" role="tab"><span>Class rooms</span></li>
									  <div class="clearfix"></div>
								  </ul>				  	 
								<div class="resp-tabs-container">
									<div class="tab-1 resp-tab-content" aria-labelledby="tab_item-0">
										<div class="tab_img">
											<h4>Praesentium voluptatum</h4>
											<p> Nam libero tempore, cum soluta nobis est eligendi 
											optio cumque nihil impedit quo minus id quod maxime 
											placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus. </p>
											<div class="fac-img">
												<img src="images/f1.jpg" alt=" "/>
											</div>
											<div class="fac-img">
												<img src="images/f2.jpg" alt=" "/>
											</div>
											<div class="fac-img">
												<img src="images/f3.jpg" alt=" "/>
											</div>
											<div class="fac-img">
												<img src="images/f4.jpg" alt=" "/>
											</div>
											<div class="clearfix"></div>
										</div>								 
									</div>
									<div class="tab-1 resp-tab-content" aria-labelledby="tab_item-1">
										<div class="tab_img">
											<div class="best-left">
												<h4>voluptatum Praesentium</h4>
												<p>Nam libero tempore, cum soluta nobis est eligendi 
													optio cumque nihil impedit quo minus id quod maxime 
													placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus.</p>
												<ul>
													<li><span class="glyphicon glyphicon-ok" aria-hidden="true"></span><a href="#">Voluptatem accusantium voluptatem</a></li>
													<li><span class="glyphicon glyphicon-ok" aria-hidden="true"></span><a href="#">Doloremque laudantium doloremque</a></li>
													<li><span class="glyphicon glyphicon-ok" aria-hidden="true"></span><a href="#">Molestiae consequatur molestiae</a></li>
													<li><span class="glyphicon glyphicon-ok" aria-hidden="true"></span><a href="#">Nostrum exercitationem nostrum</a></li>
												</ul>
											</div>
											
										</div>	 	        					 
									</div>
									<div class="tab-1 resp-tab-content" aria-labelledby="tab_item-2">
										<div class="tab_img">
											<div class="sem-left">
												<img src="images/sem1.jpg" alt=" " />
											</div>	
											<div class="sem-right">
												<img src="images/sem2.jpg" alt=" " />
												<img src="images/sem3.jpg" alt=" " />
											</div>
											<div class="clearfix"></div>
										</div>		        					 
									</div>
									<div class="tab-1 resp-tab-content" aria-labelledby="tab_item-3">
										<div class="tab_img">
											<div class="sem-right">
												<img src="images/sem2.jpg" alt=" " />
												<img src="images/sem3.jpg" alt=" " />
											</div>
											<div class="best-left sem-best">
												<h4>voluptatum Praesentium</h4>
												<ul>
													<li><span class="glyphicon glyphicon-ok" aria-hidden="true"></span><a href="#">Voluptatem accusantium </a></li>
													<li><span class="glyphicon glyphicon-ok" aria-hidden="true"></span><a href="#">Doloremque laudantium </a></li>
													<li><span class="glyphicon glyphicon-ok" aria-hidden="true"></span><a href="#">Molestiae consequatur </a></li>
													<li><span class="glyphicon glyphicon-ok" aria-hidden="true"></span><a href="#">Nostrum exercitat </a></li>
													<li><span class="glyphicon glyphicon-ok" aria-hidden="true"></span><a href="#">Doloremque laudantium</a></li>
												</ul>
											</div>
											<div class="clearfix"></div>
										</div>		
									</div>
								</div>	
							</div>
			</div>
		</div>
		<div class="clearfix"></div>
	</div>
</div>
<!--//staff-->
<!--footer-top-->
<div id="faculty" class="footer-top wow fadeInLeft animated" data-wow-delay=".5s">
	<div class="container">
		<h3>Faculty</h3>
		<div class="bs-example bs-example-tabs" role="tabpanel" data-example-id="togglable-tabs">
			
			<div id="myTabContent" class="tab-content">
				<div role="tabpanel" class="tabs-para tab-pane fade in active" id="home" aria-labelledby="home-tab">
					<h5><span class="quote1"></span>Sed ut perspiciatis unde omnis iste natus error sit 
						voluptatem accusantium doloremque
						laudantium, totam rem aperiam. Sed ut perspiciatis 
						unde omnis iste natus error sit voluptatem accusantium
						doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo.<span class="quote2"></span></h5>
					<div class="team-right">
												<div class="bar">
													<p>WordPress (99.9%)</p>
												</div>
												<div class="skills">
														<div class="skill1" style="width:98%"> </div>							
												</div>
												<div class="bar">
													<p>Python (95%)</p>
												</div>
												<div class="skills">
														<div class="skill2" style="width:95%"> </div>							
												</div>
												<div class="bar">
													<p>Adobe illustrator (80%)</p>
												</div>
												<div class="skills">
														<div class="skill3" style="width:80%"> </div>							
												</div>
												<div class="bar">
													<p>Content Development (45%)</p>
												</div>
												<div class="skills">
														<div class="skill4" style="width:45%"> </div>							
												</div>
					</div>
					<div class="clearfix"></div>
				</div>
				<div role="tabpanel" class="tabs-para tab-pane fade" id="profile" aria-labelledby="profile-tab">
					<h5><span class="quote1"></span>Voluptatem ut perspiciatis unde omnis iste natus error sit 
						voluptatem accusantium doloremque
						laudantium, totam rem aperiam. Sed ut perspiciatis 
						unde omnis iste natus error sit voluptatem accusantium
						doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo.<span class="quote2"></span></h5>
					<div class="team-right">
												<div class="bar">
													<p>WordPress (99.9%)</p>
												</div>
												<div class="skills">
														<div class="skill1" style="width:98%"> </div>							
												</div>
												<div class="bar">
													<p>Python (95%)</p>
												</div>
												<div class="skills">
														<div class="skill2" style="width:95%"> </div>							
												</div>
												<div class="bar">
													<p>Adobe illustrator (80%)</p>
												</div>
												<div class="skills">
														<div class="skill3" style="width:80%"> </div>							
												</div>
												<div class="bar">
													<p>Content Development (45%)</p>
												</div>
												<div class="skills">
														<div class="skill4" style="width:45%"> </div>							
												</div>
					</div>
					<div class="clearfix"></div>
				</div>
				<div role="tabpanel" class="tabs-para tab-pane fade" id="return" aria-labelledby="return-tab">
					<h5><span class="quote1"></span>Accusantium ut perspiciatis unde omnis iste natus error sit 
						voluptatem accusantium doloremque
						laudantium, totam rem aperiam. Sed ut perspiciatis 
						unde omnis iste natus error sit voluptatem accusantium
						doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo.<span class="quote2"></span></h5>		
					<div class="team-right">
												<div class="bar">
													<p>WordPress (99.9%)</p>
												</div>
												<div class="skills">
														<div class="skill1" style="width:98%"> </div>							
												</div>
												<div class="bar">
													<p>Python (95%)</p>
												</div>
												<div class="skills">
														<div class="skill2" style="width:95%"> </div>							
												</div>
												<div class="bar">
													<p>Adobe illustrator (80%)</p>
												</div>
												<div class="skills">
														<div class="skill3" style="width:80%"> </div>							
												</div>
												<div class="bar">
													<p>Content Development (45%)</p>
												</div>
												<div class="skills">
														<div class="skill4" style="width:45%"> </div>							
												</div>
					</div>
					<div class="clearfix"></div>
				</div>
				<div role="tabpanel" class="tabs-para tab-pane fade" id="team4" aria-labelledby="team4-tab">
					<h5><span class="quote1"></span>Doloremque ut perspiciatis unde omnis iste natus error sit 
						voluptatem accusantium doloremque
						laudantium, totam rem aperiam. Sed ut perspiciatis 
						unde omnis iste natus error sit voluptatem accusantium
						doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo.<span class="quote2"></span></h5>
					<div class="team-right">
												<div class="bar">
													<p>WordPress (99.9%)</p>
												</div>
												<div class="skills">
														<div class="skill1" style="width:98%"> </div>							
												</div>
												<div class="bar">
													<p>Python (95%)</p>
												</div>
												<div class="skills">
														<div class="skill2" style="width:95%"> </div>							
												</div>
												<div class="bar">
													<p>Adobe illustrator (80%)</p>
												</div>
												<div class="skills">
														<div class="skill3" style="width:80%"> </div>							
												</div>
												<div class="bar">
													<p>Content Development (45%)</p>
												</div>
												<div class="skills">
														<div class="skill4" style="width:45%"> </div>							
												</div>
					</div>
					<div class="clearfix"></div>
				</div>
			</div>
			<ul id="myTab" class="nav nav-tabs text-center" role="tablist">
			    <li role="presentation" class="active"><a href="#home" id="home-tab" role="tab" data-toggle="tab" aria-controls="home" aria-expanded="true"><img src="images/team1.jpg" alt=" " /></a></li>
				<li role="presentation"><a href="#profile" role="tab" id="profile-tab" data-toggle="tab" aria-controls="profile"><img src="images/team2.jpg" alt=" " /></a></li>
				<li role="presentation"><a href="#return" role="tab" id="return-tab" data-toggle="tab" aria-controls="return"><img src="images/team3.jpg" alt=" " /></a></li>
				<li role="presentation"><a href="#team4" role="tab" id="team4-tab" data-toggle="tab" aria-controls="team4"><img src="images/team4.jpg" alt=" " /></a></li>
				<div class="clearfix"></div>
			</ul>
		</div>
	</div>
</div>
<!--//footer-top-->
<!--footer-->
<div class="footer">
	<div class="container">
		<div class="col-md-3 footer-grid wow fadeInRight animated" data-wow-delay=".5s">
			<h3>About us</h3>
			<p>Nam libero tempore, cum soluta nobis est eligendi 
				optio cumque nihil impedit quo minus id quod maxime 
				placeat facere possimus.</p>
		</div>
		<div class="col-md-2 footer-grid wow fadeInRight animated" data-wow-delay=".5s">
			<h3>Navigation</h3>
			<ul>
				<li><a href="index.html">Home</a></li>
				<li><a href="about.html">About</a></li>
				<li><a href="courses.html">Courses</a></li>
				<li><a href="shortcodes.html">Shortcodes</a></li>						 
				<li><a href="gallery.html">Gallery</a></li> 
				<li><a href="contact.html">Contact</a></li>
			</ul>
		</div>
		<div class="col-md-3 footer-grid wow fadeInLeft animated" data-wow-delay=".5s">
			<h3>Get in Touch</h3>
			<h2>Eduma</h2>
			<ul>
				<li>2144 - 007 - 1566</li>
				<li>No 48, Season street,</li>
				<li>Livingstone,</li>
				<li>London</li>
				<li>Email : <a href="mailto:info@example.com">info@example.com</a></li>
			</ul>
		</div>
		<div class="col-md-4 social-grid wow fadeInLeft animated" data-wow-delay=".5s">
			<h3>Connect online</h3>
			<ul>
				<li><a class="fb1" href="#"></a></li>
				<li><a class="fb2" href="#"></a></li>
				<li><a class="fb3" href="#"></a></li>
				<li><a class="fb4" href="#"></a></li>
			</ul>
			<form>
					<input type="email" value="Enter your email" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Enter your email';}" required="">
					<input type="submit" value=" ">
			</form>
		</div>
		<div class="clearfix"></div>
		<div class="copy-right">
			<p> &copy; 2016 Eduma. All Rights Reserved | Design by  <a href="http://w3layouts.com/"> W3layouts</a></p>
		</div>
	</div>
</div>
<!-- //footer-->
<!-- Modal -->

	<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	  <div class="modal-dialog" role="document">
		<div class="modal-content">
		  <div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
		  </div>
		  <div class="modal-body modal-spa">
								<div class="login-grids">
									<div class="login">
										<div class="login-left">
											<ul>
												<li><a class="fb" href="#"><i></i>Sign in with Facebook</a></li>
												<li><a class="goog" href="#"><i></i>Sign in with Google</a></li>
												<li><a class="linkin" href="#"><i></i>Sign in with Linkedin</a></li>
											</ul>
										</div>
										<div class="login-right">
											<form>
												<h3>Signin with your account </h3>
												<input type="text" value="Email" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Email';}" required="">	
												<input type="password" value="Password" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Password';}" required="">	
												<h4><a href="#">Forgot password</a> / <a href="#">Create new password</a></h4>
												<div class="single-bottom">
													<input type="checkbox"  id="brand" value="">
													<label for="brand"><span></span>Remember Me.</label>
												</div>
												<input type="submit" value="SIGNIN" >
											</form>
										</div>
										<div class="clearfix"></div>								
									</div>
									<p>By logging in you agree to our <a href="#">Terms and Conditions</a> and <a href="#">Privacy Policy</a></p>
								</div>
		  </div>

		</div>
	  </div>
	</div>

<!-- smooth scrolling -->
	<script type="text/javascript">
		$(document).ready(function() {
		/*
			var defaults = {
			containerID: 'toTop', // fading element id
			containerHoverID: 'toTopHover', // fading element hover id
			scrollSpeed: 1200,
			easingType: 'linear' 
			};
		*/								
		$().UItoTop({ easingType: 'easeOutQuart' });
		});
	</script>
	<a href="#" id="toTop" style="display: block;"> <span id="toTopHover" style="opacity: 1;"> </span></a>
<!-- //smooth scrolling -->
<!-- for bootstrap working -->
		<script src="js/bootstrap.js"></script>
<!-- //for bootstrap working -->
</body>
</html>